:root {
  --font-family: Cochin, serif;
  --font-large: 1.2rem;
  --font-medium: 1rem;
  --font-small: 0.8rem;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: var(--font-family);
}

#root {
  height: 100%;
}
